body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;        
    color: #333;              
}

h1, h2 {
    color: #1e3a8a;            
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #0f172a;       
    color: white;
}

header nav a {
    margin: 0 15px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #38bdf8;            
}

#hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #38bdf8, #1e40af);
    color: white;
}

.btn {
    padding: 12px 25px;
    background: white;
    color: #1e40af;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #0f172a;
    color: white;
}

#about, #skills, #projects, #contact {
    padding: 50px 20px;
}


.skill-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.skill-list li {
    padding: 10px 20px;
    background: #1e40af;
    color: white;
    border-radius: 5px;
}

.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 20px;
    width: 30%;
    min-width: 250px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    color: #333;
}

#contact p {
    font-size: 16px;
}
