
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: wheat;
}

h1, h2 {
    color: burlywood;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: black;
    color: white;
}

header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: black;
}
#hero {
    text-align: center;
    padding: 100px 20px;
    background: lightblue;
    color: black;
}

#hero span {
    color: black;
}

.btn {
    padding: 12px 25px;
    background: white;
    color: lightblue;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: black;
}

#about, #skills, #projects, #contact {
    padding: 50px 20px;
}

.skill-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.skill-list li {
    padding: 10px 20px;
    background: black;
    border-radius: 5px;
}

.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: black;
    padding: 20px;
    width: 30%;
    min-width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


